@import "./variables.scss";

.Experience {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-color: $brand-skin-color;
  h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
  }
  .job-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-height: 910px) {
      height: 80%;
    }
    width: 100%;
    height: 90%;
    .job {
      color: $brand-skin-color;
      width: 25%;
      height: 70%;
      background-color: white;
      border-radius: 2px;
      h1 {
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 10px;
      }
      .job-description {
        width: 90%;
        height: 70%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        p {
          text-align: left;
          font-size: 20px;
        }
        .job-icon {
          font-size: 100px;
        }
        a {
          color: $brand-skin-color;
          text-decoration: none;
          border: 3px solid $brand-skin-color;
          padding: 10px 20px;
          transition: 0.3s ease;
          &:hover {
            color: white;
            background-color: $brand-skin-color;
          }
        }
      }
    }
  }
}
