@import "./variables.scss";

.NavBar {
  height: 60px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-content {
      margin-left: 20px;
      img {
        height: 40px;
        width: auto;
      }
    }
    .right-content {
      display: flex;
      a {
        text-decoration: none;
        padding: 4px 8px;
        border-bottom: 1px solid white;
        color: white;
        text-align: center;
        line-height: 0;
        margin-right: 20px;
        transition: 0.5s ease;
        &:hover {
          color: $brand-dark-blue;
          border-color: $brand-dark-blue;
        }
      }
    }
  }
}
