@import "./variables.scss";

.PersonalProjects {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-color: $brand-off-white;
  position: relative;
  .projects {
    position: relative;
    z-index: 2;
    h1 {
      text-align: center;
      padding-top: 30px;
      font-size: 70px;
    }
    .projects-list {
      width: 80%;
      height: 80vh;
      margin: 0 auto;
      // background: red;
      margin-top: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      .gif {
        .project-size {
          width: 450px;
          height: auto;
          box-shadow: 0 0 60px $brand-pink;
          transition: 0.2s ease;
          &:hover {
            box-shadow: none;
            width: 700px;
          }
        }
        .static {
          position: absolute;
          &:hover {
            opacity: 0;
          }
        }
      }
    }
  }
}
