// colors
$brand-pink: rgba(239, 121, 138, 1);
$brand-skin-color: rgba(247, 169, 168, 1);
$brand-blue: rgba(125, 130, 184, 1);
$brand-dark-blue: rgba(97, 63, 117, 1);
$brand-off-white: rgba(229, 195, 209, 1);

// transparent colors

// font sizes
$base-paragraph-size: 30px;
$base-header-size: 30px;
